<!DOCTYPE html>
<html>

<head>
  <title>
    Bai 1
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>Calculate Rectangle Perimeter</h1>
  <form action="/" method="POST">
    <label for="width">Width:</label>
    <input type="number" name="width" value="<%= rectangle.width ?? ""%>" required>
    <br>
    <label for="height">Height:</label>
    <input type="number" name="height" value="<%= rectangle.height ?? ""%>" required>
    <br>
    <button type="submit">Calculate</button>
  </form>

  <% if (perimeter) { %>
    <h2>Perimeter: <%= perimeter %>
    </h2>
    <% } %>

</body>

</html>