<h1>
    <%= title %>
</h1>
<form method="POST" action="/users/login">
    <input name="username" placeholder="Tài khoản" required><br>
    <input type="password" name="password" placeholder="Mật khẩu" required><br>
    <button type="submit">Đăng nhập</button>
</form>
<a href="/users/register">Chưa có tài khoản? Đăng ký</a>